<style>
div {
  position: absolute;
  background-color: #B9DEED;
  font-family: Helvetica;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
p {
  text-align: center;
  margin: 35% auto 35% auto;
  font-size: 40px
}
</style>

<div>
  <p>Your birthday will be in <%= session[:countdown] %> days, <%= session[:name] %></p>
</div>
